In [31]:
# import the sqlite library
import sqlite3

In [32]:
# helper functions
def return_my_tables(dbConn):
    # do a query of the master database to return table names
    cursorDB = dbConn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    # save the table names to a list
    tables = [
        v[0] for v in cursorDB.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    # good housekeeping == close your cursor
    cursorDB.close()
    # return the tables
    return tables

In [33]:
# create the connection I will use to connection to the database
# the db doesn't exist yet, but creating the connection object will create the database
conn = sqlite3.connect('car.db')

In [34]:
# we need a cursor so we can "move" through the database (i.e. use SQL statements and get/insert/update/delete data)
cursor = conn.cursor()

In [29]:
# drop the existing Vehicles table, if it exists
# WARNING  = this will delete any data you saved in Vehicles
sqldrop = 'DROP TABLE IF EXISTS Vehicles'
cursor.execute(sqldrop)

# create the Vehicles table
sqlCreate = '''CREATE TABLE IF NOT EXISTS Vehicles 
(VIN text NOT NULL PRIMARY KEY, 
Make text NOT NULL, 
Model text NOT NULL,
ID text NOT NULL)'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM Vehicles")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['People', 'Mechanics', 'Parts', 'Repairs', 'Repair_Parts', 'Vehicles']

In [8]:
# drop the existing People table, if it exists
# WARNING  = this will delete any data you saved in People
sqldrop = 'DROP TABLE IF EXISTS People'
cursor.execute(sqldrop)

# create the People table
sqlCreate = '''CREATE TABLE IF NOT EXISTS People 
(ID text NOT NULL PRIMARY KEY, 
Name text NOT NULL, 
City text NOT NULL,
State text NOT NULL)'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM People")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['Vehicles', 'People']

In [9]:
# drop the existing Mechanics table, if it exists
# WARNING  = this will delete any data you saved in Mechanics
sqldrop = 'DROP TABLE IF EXISTS Mechanics'
cursor.execute(sqldrop)

# create the Mechanics table
sqlCreate = '''CREATE TABLE IF NOT EXISTS Mechanics 
(MechID text NOT NULL PRIMARY KEY, 
ID text NOT NULL)'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM Mechanics")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['Vehicles', 'People', 'Mechanics']

In [10]:
# drop the existing Parts table, if it exists
# WARNING  = this will delete any data you saved in Parts
sqldrop = 'DROP TABLE IF EXISTS Parts'
cursor.execute(sqldrop)

# create the Mechanics table
sqlCreate = '''CREATE TABLE IF NOT EXISTS Parts 
(PID int NOT NULL PRIMARY KEY, 
PartName text NOT NULL,
Shelf int,
Price real)'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM Parts")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['Vehicles', 'People', 'Mechanics', 'Parts']

In [11]:
# drop the existing Repairs table, if it exists
# WARNING  = this will delete any data you saved in Repairs
sqldrop = 'DROP TABLE IF EXISTS Repairs'
cursor.execute(sqldrop)

# create the Repairs table
sqlCreate = '''CREATE TABLE IF NOT EXISTS Repairs 
(RID text NOT NULL PRIMARY KEY, 
MechID text NOT NULL,
VIN text NOT NULL,
Hours int)'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM Repairs")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['Vehicles', 'People', 'Mechanics', 'Parts', 'Repairs']

In [35]:
# drop the existing Repair_Parts table, if it exists
# WARNING  = this will delete any data you saved in Repair_Parts
sqldrop = 'DROP TABLE IF EXISTS Repair_Parts'
cursor.execute(sqldrop)

# create the Repair_Parts table
sqlCreate = '''CREATE TABLE IF NOT EXISTS Repair_Parts 
(RID text NOT NULL, 
PID int NOT NULL)'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM Repair_Parts")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['People', 'Mechanics', 'Parts', 'Repairs', 'Vehicles', 'Repair_Parts']

In [36]:
# housekeeping
conn.commit()
cursor.close()
conn.close()