In [41]:
# import the sqlite library
import sqlite3

In [2]:
# helper functions here

In [42]:
# create the connection I will use to connection to the database
# the database should exist before running this, otherwise it will create an empty database
conn = sqlite3.connect('car.db')

In [43]:
# we need a cursor so we can "move" through the database (i.e. use SQL statements and get/insert/update/delete data)
cursor = conn.cursor()

In [16]:
# DELETE all existing records in the Vehicles table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDelete = 'DELETE FROM Vehicles'
cursor.execute(sqlDelete)

# insert into the Vehicles table
sqlInsert = '''INSERT INTO Vehicles (VIN, Make, Model, ID) VALUES ('G78', 'Honda', 'Civiv', 'Su5')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Vehicles (VIN, Make, Model, ID) VALUES ('H98', 'Pontiac', 'GrandAm', 'Su5')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Vehicles (VIN, Make, Model, ID) VALUES ('H56', 'VW', 'Beetle', 'Bu2')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Vehicles (VIN, Make, Model, ID) VALUES ('T45', 'Plymouth', 'Voyager', 'Jo2')''' 
cursor.execute(sqlInsert)


# do an initial SELECT to see results
cursor.execute("SELECT * FROM Vehicles")
print(cursor.fetchall())

[('G78', 'Honda', 'Civiv', 'Su5'), ('H98', 'Pontiac', 'GrandAm', 'Su5'), ('H56', 'VW', 'Beetle', 'Bu2'), ('T45', 'Plymouth', 'Voyager', 'Jo2')]

In [17]:
# DELETE all existing records in the People table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDelete = 'DELETE FROM People'
cursor.execute(sqlDelete)

# insert into the People table
sqlInsert = '''INSERT INTO People (ID, Name, City, State) VALUES ('Su5', 'Suchet', 'Hickory', 'NC')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO People (ID, Name, City, State) VALUES ('Sm3', 'Smith', 'Raleigh', 'NC')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO People (ID, Name, City, State) VALUES ('Bu2', 'Butler', 'Chapel Hill', 'NC')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO People (ID, Name, City, State) VALUES ('Jo2', 'Jones', 'Charlotte', 'NC')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO People (ID, Name, City, State) VALUES ('Wi9', 'Williams', 'Fayetteville', 'NC')''' 
cursor.execute(sqlInsert)


# do an initial SELECT to see results
cursor.execute("SELECT * FROM People")
print(cursor.fetchall())

[('Su5', 'Suchet', 'Hickory', 'NC'), ('Sm3', 'Smith', 'Raleigh', 'NC'), ('Bu2', 'Butler', 'Chapel Hill', 'NC'), ('Jo2', 'Jones', 'Charlotte', 'NC'), ('Wi9', 'Williams', 'Fayetteville', 'NC')]

In [19]:
# DELETE all existing records in the Mechanics table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDelete = 'DELETE FROM Mechanics'
cursor.execute(sqlDelete)

# insert into the Mechanics table
sqlInsert = '''INSERT INTO Mechanics (MechID, ID) VALUES ('M_98', 'Bu2')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Mechanics (MechID, ID) VALUES ('M_56', 'Wi9')''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Mechanics (MechID, ID) VALUES ('M_23', 'Sm3')''' 
cursor.execute(sqlInsert)



# do an initial SELECT to see results
cursor.execute("SELECT * FROM Mechanics")
print(cursor.fetchall())

[('M_98', 'Bu2'), ('M_56', 'Wi9'), ('M_23', 'Sm3')]

In [20]:
# DELETE all existing records in the Parts table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDelete = 'DELETE FROM Parts'
cursor.execute(sqlDelete)

# insert into the Parts table
sqlInsert = '''INSERT INTO Parts (PID, PartName, Shelf, Price) VALUES (901, 'Battery', 4, 80)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Parts (PID, PartName, Shelf, Price) VALUES (902, 'Alternator', 4, 100)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Parts (PID, PartName, Shelf, Price) VALUES (903, 'Brakes', 2, 150)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Parts (PID, PartName, Shelf, Price) VALUES (904, 'Fan Belt', 1, 20)''' 
cursor.execute(sqlInsert)

# do an initial SELECT to see results
cursor.execute("SELECT * FROM Parts")
print(cursor.fetchall())

[(901, 'Battery', 4, 80.0), (902, 'Alternator', 4, 100.0), (903, 'Brakes', 2, 150.0), (904, 'Fan Belt', 1, 20.0)]

In [21]:
# DELETE all existing records in the Repairs table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDelete = 'DELETE FROM Repairs'
cursor.execute(sqlDelete)

# insert into the Repairs table
sqlInsert = '''INSERT INTO Repairs (RID, MechID, VIN, Hours) VALUES ('R_14', 'M_98', 'G78', 3)''' 
cursor.execute(sqlInsert)

# insert into the Repairs table
sqlInsert = '''INSERT INTO Repairs (RID, MechID, VIN, Hours) VALUES ('R_34', 'M_98', 'H56', 3)''' 
cursor.execute(sqlInsert)

# insert into the Repairs table
sqlInsert = '''INSERT INTO Repairs (RID, MechID, VIN, Hours) VALUES ('R_22', 'M_23', 'T45', 2)''' 
cursor.execute(sqlInsert)

# insert into the Repairs table
sqlInsert = '''INSERT INTO Repairs (RID, MechID, VIN, Hours) VALUES ('R_66', 'M_56', 'G78', 1)''' 
cursor.execute(sqlInsert)


# do an initial SELECT to see results
cursor.execute("SELECT * FROM Repairs")
print(cursor.fetchall())

[('R_14', 'M_98', 'G78', 3), ('R_34', 'M_98', 'H56', 3), ('R_22', 'M_23', 'T45', 2), ('R_66', 'M_56', 'G78', 1)]

In [59]:
# DELETE all existing records in the Repair_Parts table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDelete = 'DELETE FROM Repair_Parts'
cursor.execute(sqlDelete)

# insert into the Repair_Parts table
sqlInsert = '''INSERT INTO Repair_Parts (RID, PID) VALUES ('R_14', 902)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Repair_Parts (RID, PID) VALUES ('R_14', 903)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Repair_Parts (RID, PID) VALUES ('R_34', 901)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Repair_Parts (RID, PID) VALUES ('R_34', 901)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Repair_Parts (RID, PID) VALUES ('R_22', 902)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Repair_Parts (RID, PID) VALUES ('R_66', 904)''' 
cursor.execute(sqlInsert)

sqlInsert = '''INSERT INTO Repair_Parts (RID, PID) VALUES ('R_66', 901)''' 
cursor.execute(sqlInsert)

# do an initial SELECT to see results
cursor.execute("SELECT * FROM Repair_Parts")
print(cursor.fetchall())

[('R_14', 902), ('R_14', 903), ('R_34', 901), ('R_34', 901), ('R_22', 902), ('R_66', 904), ('R_66', 901)]

In [28]:
# do an initial SELECT
cursor.execute("SELECT * FROM Vehicles")
print(cursor.fetchall())

[('G78', 'Honda', 'Civiv', 'Su5'), ('H98', 'Pontiac', 'GrandAm', 'Su5'), ('H56', 'VW', 'Beetle', 'Bu2'), ('T45', 'Plymouth', 'Voyager', 'Jo2')]

In [39]:
cursor.execute('''
SELECT People.Name 
FROM People 
JOIN Mechanics ON People.ID = Mechanics.ID 
WHERE People.Name LIKE 'S%'
''')
print(cursor.fetchall())

[('Smith',)]

In [64]:
#Find the names of the customers who got both a battery and alternator replaced.
cursor.execute('''
SELECT People.Name 
FROM People 
WHERE People.ID IN (
SELECT Vehicles.ID
FROM Vehicles 
JOIN Repairs ON Vehicles.VIN = Repairs.VIN
JOIN Repair_Parts ON Repairs.RID = Repair_Parts.RID
WHERE PID IN (901,902)
GROUP BY Vehicles.ID
HAVING COUNT(DISTINCT PID) > 1
)
''')
print(cursor.fetchall())

[('Suchet',)]

# After this do some queries

In [40]:
# housekeeping
# need to commit all the inserts! if you don't do this, they won't be there in another session
conn.commit()
cursor.close()
conn.close()