In [46]:
# import the sqlite library
import sqlite3

In [47]:
# helper functions here

In [48]:
# create the connection I will use to connection to the database
# the database should exist before running this, otherwise it will create an empty database
connSailors = sqlite3.connect('sailors.db')

In [49]:
# we need a cursor so we can "move" through the database (i.e. use SQL statements and get/insert/update/delete data)
cursorSailors = connSailors.cursor()

In [50]:
# do an initial SELECT to see ALL results in tables
cursorSailors.execute("SELECT * FROM Boats")
print(cursorSailors.fetchall())

cursorSailors.execute("SELECT * FROM Sailors")
print(cursorSailors.fetchall())

cursorSailors.execute("SELECT * FROM Reserves")
print(cursorSailors.fetchall())

[(101, 'Minnow', 'Blue'), (102, 'Voyager', 'Red'), (103, 'Marlin', 'Yellow'), (104, 'Happy', 'Red'), (105, 'Sinker', 'Green')]
[(22, 'Yuppy', 9, 35.0), (31, 'Lubber', 8, 55.5), (44, 'Guppy', 5, 35.0), (48, 'Ole Red', 8, 92.3), (58, 'Rusty', 10, 40.0)]
[(22, 101, '5-Jun-03'), (22, 104, '15-Jun-03'), (44, 102, '5-Jun-03'), (48, 105, '14-Jun-03'), (58, 103, '7-Jun-03')]

In [51]:
# now I can practice some selects!
sqlTest1 = '''SELECT COUNT(DISTINCT(sid)) AS sCount, bname, Reserves.bid
FROM Reserves
JOIN Boats ON Reserves.bid = Boats.bid
GROUP BY Reserves.bid
ORDER BY COUNT(DISTINCT(sid)) DESC'''

cursorSailors.execute(sqlTest1)
print(cursorSailors.fetchall())

[(1, 'Sinker', 105), (1, 'Happy', 104), (1, 'Marlin', 103), (1, 'Voyager', 102), (1, 'Minnow', 101)]

In [52]:
# now I can practice some selects!
sqlTest2 = '''SELECT bname, Reserves.bid, AVG(Sailors.age) AS avg_age
FROM Reserves
JOIN Boats ON Reserves.bid = Boats.bid
JOIN Sailors ON Reserves.sid = Sailors.sid
GROUP BY Reserves.bid
ORDER BY Reserves.bid DESC'''

cursorSailors.execute(sqlTest2)
print(cursorSailors.fetchall())

[('Sinker', 105, 92.3), ('Happy', 104, 35.0), ('Marlin', 103, 40.0), ('Voyager', 102, 35.0), ('Minnow', 101, 35.0)]

In [53]:
# now I can practice some selects!
sqlTest3 = '''
SELECT bname, bid, avg_age
FROM
(SELECT bname, Reserves.bid, AVG(Sailors.age) AS avg_age
FROM Reserves
JOIN Boats ON Reserves.bid = Boats.bid
JOIN Sailors ON Reserves.sid = Sailors.sid
GROUP BY Reserves.bid
ORDER BY Reserves.bid DESC)
WHERE avg_age > 35
'''

cursorSailors.execute(sqlTest3)
print(cursorSailors.fetchall())

[('Sinker', 105, 92.3), ('Marlin', 103, 40.0)]

In [54]:
# OR
sqlTest3 = '''
SELECT bname, Reserves.bid, AVG(Sailors.age) AS avg_age
FROM Reserves
JOIN Boats ON Reserves.bid = Boats.bid
JOIN Sailors ON Reserves.sid = Sailors.sid
GROUP BY Reserves.bid
HAVING AVG(Sailors.age) > 35
ORDER BY Reserves.bid DESC
'''

cursorSailors.execute(sqlTest3)
print(cursorSailors.fetchall())

[('Sinker', 105, 92.3), ('Marlin', 103, 40.0)]

In [55]:
# housekeeping
connSailors.commit()
cursorSailors.close()
connSailors.close()