In [13]:
# import the sqlite library
import sqlite3

In [2]:
# helper functions here

In [14]:
# create the connection I will use to connection to the database
# the database should exist before running this, otherwise it will create an empty database
connSailors = sqlite3.connect('sailors.db')

In [15]:
# we need a cursor so we can "move" through the database (i.e. use SQL statements and get/insert/update/delete data)
cursorSailors = connSailors.cursor()

In [5]:
# DELETE all existing records in the Boats table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDeleteBoats = 'DELETE FROM Boats'
cursorSailors.execute(sqlDeleteBoats)

# insert into the Boats table
sqlInsertBoats = '''INSERT INTO Boats (bid, bname, color) VALUES (101, 'Minnow', 'Blue')''' 
cursorSailors.execute(sqlInsertBoats)

sqlInsertBoats = '''INSERT INTO Boats (bid, bname, color) VALUES (102, 'Voyager', 'Red')'''
cursorSailors.execute(sqlInsertBoats)

sqlInsertBoats = '''INSERT INTO Boats (bid, bname, color) VALUES (103, 'Marlin', 'Yellow')'''
cursorSailors.execute(sqlInsertBoats)

sqlInsertBoats = '''INSERT INTO Boats (bid, bname, color) VALUES (104, 'Happy', 'Red')'''
cursorSailors.execute(sqlInsertBoats)

sqlInsertBoats = '''INSERT INTO Boats (bid, bname, color) VALUES (105, 'Sinker', 'Green')'''
cursorSailors.execute(sqlInsertBoats)

# do an initial SELECT to see results
cursorSailors.execute("SELECT * FROM Boats")
print(cursorSailors.fetchall())

[(101, 'Minnow', 'Blue'), (102, 'Voyager', 'Red'), (103, 'Marlin', 'Yellow'), (104, 'Happy', 'Red'), (105, 'Sinker', 'Green')]

In [6]:
# DELETE all existing records in the Sailors table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDeleteSailors = 'DELETE FROM Sailors'
cursorSailors.execute(sqlDeleteSailors)

# insert into the Sailors table
sqlInsertSailors = '''INSERT INTO Sailors (sid, sname, rating, age) VALUES (22, 'Yuppy', 9, 35.0)''' 
cursorSailors.execute(sqlInsertSailors)

sqlInsertSailors = '''INSERT INTO Sailors (sid, sname, rating, age) VALUES (31, 'Lubber', 8, 55.5)''' 
cursorSailors.execute(sqlInsertSailors)

sqlInsertSailors = '''INSERT INTO Sailors (sid, sname, rating, age) VALUES (44, 'Guppy', 5, 35.0)''' 
cursorSailors.execute(sqlInsertSailors)

sqlInsertSailors = '''INSERT INTO Sailors (sid, sname, rating, age) VALUES (48, 'Ole Red', 8, 92.3)''' 
cursorSailors.execute(sqlInsertSailors)

sqlInsertSailors = '''INSERT INTO Sailors (sid, sname, rating, age) VALUES (58, 'Rusty', 10, 40.0)''' 
cursorSailors.execute(sqlInsertSailors)

# do an initial SELECT to see results
cursorSailors.execute("SELECT * FROM Sailors")
print(cursorSailors.fetchall())

[(22, 'Yuppy', 9, 35.0), (31, 'Lubber', 8, 55.5), (44, 'Guppy', 5, 35.0), (48, 'Ole Red', 8, 92.3), (58, 'Rusty', 10, 40.0)]

In [7]:
# DELETE all existing records in the Reserves table
# WARNING: this does what it says it does.
# WHY DO THIS?? So you don't create duplicate records
sqlDeleteReserves = 'DELETE FROM Reserves'
cursorSailors.execute(sqlDeleteReserves)

# insert into the Reserves table
sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (22,101,'5-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (22,104,'15-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (44,102,'5-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (48,105,'14-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (58,103,'7-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (22,102,'10-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (22,103,'12-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (22,105,'14-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (44,103,'17-Jul-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (44,105,'17-Jul-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (58,105,'18-Jul-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (58,101,'20-Jul-03')''' 
cursorSailors.execute(sqlInsertReserves)

sqlInsertReserves= '''INSERT INTO Reserves (sid, bid, day) VALUES (58,105,'6-Jun-03')''' 
cursorSailors.execute(sqlInsertReserves)


# do an initial SELECT to see results
cursorSailors.execute("SELECT * FROM Reserves")
print(cursorSailors.fetchall())

[(22, 101, '5-Jun-03'), (22, 104, '15-Jun-03'), (44, 102, '5-Jun-03'), (48, 105, '14-Jun-03'), (58, 103, '7-Jun-03'), (22, 102, '10-Jun-03'), (22, 103, '12-Jun-03'), (22, 105, '14-Jun-03'), (44, 103, '17-Jul-03'), (44, 105, '17-Jul-03'), (58, 105, '18-Jul-03'), (58, 101, '20-Jul-03'), (58, 105, '6-Jun-03')]

In [12]:
# do an initial SELECT
cursorSailors.execute("SELECT * FROM Reserves")
print(cursorSailors.fetchall())

[(22, 101, '5-Jun-03'), (22, 104, '15-Jun-03'), (44, 102, '5-Jun-03'), (48, 105, '14-Jun-03'), (58, 103, '7-Jun-03'), (22, 102, '10-Jun-03'), (22, 103, '12-Jun-03'), (22, 105, '14-Jun-03'), (44, 103, '17-Jul-03'), (44, 105, '17-Jul-03'), (58, 105, '18-Jul-03'), (58, 101, '20-Jul-03'), (58, 105, '6-Jun-03')]

# After this do some queries

In [27]:
cursorSailors.execute('''
SELECT Sailors.rating, MIN(Sailors.age)
FROM Sailors
GROUP BY (Sailors.rating)
HAVING (COUNT(Sailors.age) > 1)

''')
print(cursorSailors.fetchall())

[(8, 55.5)]

In [28]:
# housekeeping
# need to commit all the inserts! if you don't do this, they won't be there in another session
connSailors.commit()
cursorSailors.close()
connSailors.close()