In [18]:
# import the sqlite library
import sqlite3

In [19]:
# helper functions
def return_my_tables(dbConn):
    # do a query of the master database to return table names
    cursorDB = dbConn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    # save the table names to a list
    tables = [
        v[0] for v in cursorDB.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    # good housekeeping == close your cursor
    cursorDB.close()
    # return the tables
    return tables

In [28]:
# create the connection I will use to connection to the database
# the db doesn't exist yet, but creating the connection object will create the database
conn = sqlite3.connect('uni.db')

In [29]:
# we need a cursor so we can "move" through the database (i.e. use SQL statements and get/insert/update/delete data)
cursor = conn.cursor()

In [23]:
# drop the existing course table, if it exists
# WARNING  = this will delete any data you saved in course
sqlDrop = 'DROP TABLE IF EXISTS department'
cursor.execute(sqlDrop)

# create the Boats table
sqlCreate = '''CREATE TABLE IF NOT EXISTS department 
(dept_name text NOT NULL PRIMARY KEY, 
building text NOT NULL DEFAULT '', 
budget real NOT NULL DEFAULT 0)'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM department")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['course', 'instructor', 'section', 'student', 'takes', 'department']

In [24]:
# drop the existing course table, if it exists
# WARNING  = this will delete any data you saved in course
sqlDrop = 'DROP TABLE IF EXISTS course'
cursor.execute(sqlDrop)

# create the Boats table
sqlCreate = '''CREATE TABLE IF NOT EXISTS course 
(course_id text NOT NULL PRIMARY KEY, 
title text NOT NULL DEFAULT '', 
dept_name text NOT NULL,
credits int NOT NULL DEFAULT 0,
FOREIGN KEY(dept_name) REFERENCES department(dept_name))'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM course")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['instructor', 'section', 'student', 'takes', 'department', 'course']

In [9]:
# drop the existing instructor table, if it exists
# WARNING  = this will delete any data you saved in instructor
sqlDrop = 'DROP TABLE IF EXISTS instructor'
cursor.execute(sqlDrop)

# create the Boats table
sqlCreate = '''CREATE TABLE IF NOT EXISTS instructor 
(ID int NOT NULL PRIMARY KEY, 
name text NOT NULL DEFAULT '', 
dept_name text NOT NULL,
salary real NOT NULL DEFAULT 0,
FOREIGN KEY(dept_name) REFERENCES department(dept_name))'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM instructor")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['department', 'course', 'instructor']

In [30]:
# drop the existing section table, if it exists
# WARNING  = this will delete any data you saved in section
sqlDrop = 'DROP TABLE IF EXISTS section'
cursor.execute(sqlDrop)

# create the Boats table
sqlCreate = '''CREATE TABLE IF NOT EXISTS section 
(course_id text NOT NULL, 
sec_id integer NOT NULL,
semester text NOT NULL,
year int NOT NULL,
building text,
room_number int,
time_slot_id text NOT NULL,
PRIMARY KEY(course_id,sec_id,semester))'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM section")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['instructor', 'student', 'department', 'course', 'takes', 'section']

In [12]:
# drop the existing student table, if it exists
# WARNING  = this will delete any data you saved in student
sqlDrop = 'DROP TABLE IF EXISTS student'
cursor.execute(sqlDrop)

# create the Boats table
sqlCreate = '''CREATE TABLE IF NOT EXISTS student 
(ID int NOT NULL PRIMARY KEY, 
name text NOT NULL DEFAULT '', 
dept_name text NOT NULL,
total_cred int NOT NULL DEFAULT 0,
FOREIGN KEY(dept_name) REFERENCES department(dept_name))'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM student")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['department', 'course', 'instructor', 'section', 'student']

In [26]:
# drop the existing takes table, if it exists
# WARNING  = this will delete any data you saved in takes
sqlDrop = 'DROP TABLE IF EXISTS takes'
cursor.execute(sqlDrop)

# create the Boats table
sqlCreate = '''CREATE TABLE IF NOT EXISTS takes 
(ID int NOT NULL, 
course_id text NOT NULL, 
sec_id int NOT NULL,
semester text NOT NULL DEFAULT "Fall",
year int NOT NULL,
grade text,
FOREIGN KEY(ID) REFERENCES student(ID),
FOREIGN KEY(course_id) REFERENCES course(course_id),
FOREIGN KEY(sec_id) REFERENCES section(sec_id),
PRIMARY KEY(ID,course_id,sec_id))'''
cursor.execute(sqlCreate)

# do an initial SELECT to see the empty result
cursor.execute("SELECT * FROM takes")
print(cursor.fetchall())

# print a list of the tables in the database
tables = return_my_tables(conn)
print(tables)

[]
['instructor', 'student', 'department', 'course', 'section', 'takes']

In [32]:
# housekeeping
conn.commit()
cursor.close()
conn.close()

ProgrammingError: Cannot operate on a closed database.